<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Moja stronka</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
</head>
<body>
    <h1> Nagłówek</h1>
    <h2> Nagłówek mniejszy</h2>
    aaaaaaaaaaaaaaaaaaaaaaaaa
    <p> sasaasas </p>
    <div>
        <p>To jest napis,</p>
        <p>także i w drugiej linii.</p>
    </div>
    <a href="https://translate.google.pl">Google Translate</a>
    <br>
    <br>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_wSDCGEirCiejThTndc98C4Bm1ubSs0Ml6DiQ2J2nxM_qqIR5aBAXOFjoWnDEczDeh14&usqp=CAU" />
</body>
</html>
